# .gitignore for C# / .NET projects
# Build results
**/bin/
**/dotnet nuget add source https://api.nuget.org/v3/index.json --name nuget.orgobj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
# Packages folder
packages/
# NuGet restore result
project.lock.json
project.assets.json

# Others
*.log
*.vs/

# Resharper
*.resharper
*.DotSettings

# Test results
TestResults/

# Temporary files
~$*
*.tmp
*.temp

# Ignore generated editor config and assembly info
lab1-3-csharp/obj/Debug/net8.0/BookLibrary.GeneratedMSBuildEditorConfig.editorconfig
lab1-3-csharp/obj/Debug/net8.0/BookLibrary.AssemblyInfo.cs

# Ignore Mac files
.DS_Store

# Ignore Windows thumbnail cache files
Thumbs.db

**/obj/**
